<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WerklijstHulpje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WerklijstHulpje.Properties.Settings>
      <setting name="Ranges" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>U1</string>
            <string>E3</string>
            <string>C8:I38</string>
            <string>J8:M38</string>
            <string>N8:R38</string>
            <string>T8:T37</string>
            <string>V41</string>
            <string>V44</string>
            <string>E40</string>
            <string>E49</string>
            <string>E50</string>
            <string>E51</string>
            <string>E52</string>
            <string>G53</string>
            <string>G54</string>
            <string>D42</string>
            <string>D43</string>
            <string>D44</string>
            <string>D45</string>
            <string>D46</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SheetMonths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>januari</string>
            <string>februari</string>
            <string>maart</string>
            <string>april</string>
            <string>mei</string>
            <string>juni</string>
            <string>juli</string>
            <string>augustus</string>
            <string>september</string>
            <string>oktober</string>
            <string>november</string>
            <string>december</string>
          </ArrayOfString>
        </value>
      </setting>
    </WerklijstHulpje.Properties.Settings>
  </userSettings>
</configuration>